<div>
  <svg height="600" width="1200">

    <line *ngFor="let track of tracks"

          [attr.x1]="getTrackStartX(track)"
          [attr.y1]="getTrackStartY(track)"
          [attr.x2]="track.xTo"
          [attr.y2]="track.yTo"
          style="stroke:rgb(0,0,0);stroke-width:0.5px"
    />

    <rect *ngFor="let waggon of collectWaggons()"

          style="stroke:#333333;fill:#dddddd;opacity:0.4;border:5px solid green"

          [style.transform-origin]="generateTransformOrigin"
          [style.transform-box]="generateTransformBox"
          [style.transform]="generateWaggonTransform(waggon)"

          [attr.x]="calculateWaggonX(waggon)"
          [attr.y]="calculateWaggonY(waggon)"
          [attr.width]="calculateWaggonWidth(waggon)"
          [attr.height]="calculateWaggonHeight(waggon)"

      (dragstart)="dragstart($event)"
      (mousemove)="mousemove($event)"
      (mousedown)="mousedown($event, waggon)"
      (mouseup)="mouseup($event)"
    />
  </svg>

  <div style="visibility:{{showDraggingGhost()}}; width: 100px; height: 50px; border: aquamarine 1px solid">123</div>

</div>
